<html>
    <head>
        <title>Iri's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
            <h2><em> Wow que subtitulo</em> </h2>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p> Este es mi primer posteo en el blog que acabo de programar en la pyconar 2019</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
